/*This is the CSS file for lesson9.html */

h1 {
	font-size: 25px;

}
h2 {
	font-size: 20px;
}
ul li {
	list-style-type: square;
}
a {
	color: red;
}

section {
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
}



/*--------------------
Center the page content 
--------------------*/
#wrapper {
	width: 900px;
	margin: 0 auto;
	
	background-color:white;
	overflow: auto;/*This keeps margins from overflowing out of box */
}
body {
	background-color: blue;
	margin: 0;
}
/*Make the cover image 100%, but only apply this rule to images with #wrapper as parent */
#wrapper>img {
	width: 100%
}
#page-content {
	padding: 10px;
}




/*---------------------
Quote Section styles
---------------------*/

#quote {
	background-color: #000;
	color: #fff;
	
	padding: 10px;
	border: 2px dashed white;
}
#quote h2 {
	text-transform: uppercase;
}
#quote p {
	font-style: italic;
}




/*---------------------
Photos listed next to each other
---------------------*/
/*.grid-img {
	width:214px;
	height: auto;
	float:left;
	padding: 0 3px;
}*/
.grid-img img {
	max-width: 100%;
}

/*Three options to deal float containing div */
#photo {
	overflow:hidden;
}
/*
#quote {
	clear:both;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*/

/*---------------------
Styles for Responsive Design
---------------------*

@media (max-width: 1000px) {
#wrapper {
  width: 600px;
  }
.grid-img {
  width: 284px;
  }
  }

@media (max-width: 640px) {
#wrapper {
  width: 340px;
  }
.grid-img {
  width: 314px;
  }
}*/